.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 135px;
  background-color: white;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
}
.header__logo {
  width: 50px;
  height: 23px;
}
.header__navigation {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 25px;
}
.header__item {
  color: #3E4056;
}
.header__item:not(:last-child) {
  margin-right: 36px;
}
.item--checked:after {
  position: absolute;
  content: "";
  height: 4px;
  width: 34px;
  left: 134px;
  margin-top: 36px;
  background-color: #F05D63;
}
.arrow-down {
  margin: 0 14px;
}
.profile-section {
  display: flex;
  align-items: center;
  margin-top: -40px;
  margin-right: -6px;
}
.user-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 20px;
  background-color: gray;
}
.action {
  height: 64px;
  width: 64px;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 80px;
  right: 135px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(135deg, #FF974F 0%, #E32C75 100%);
}
